* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}

ul {
    list-style-type: none;
}
.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-items: center;
    align-items: center;
    padding: 20px
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    * {
        font-size: 13px;
    }
}